<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Your alignment</title>
</head>
<body>
    <div>
        <p class= "result"> 
        <%= finalAlignment %>
        </p>
    </div>
    <div class = "image">
        <img src= <%= finalImage %> style= "height:500px">
    </div>
</body>
</html>